<section id="catalog-section">

  <div class="container">
    <h2 class="catalog-section-h2">Catalog</h2>
    <ul class="catalog-section-list">
      <li class="catalog-section-list-item">
        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Garmin-Fenix-7X-Pro-desktop.webp 1x,
                ./img/Garmin-Fenix-7X-Pro-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"

            />


            <source
              srcset="
                ./img/Garmin-Fenix-7X-Pro-tablet.webp 1x,
                ./img/Garmin-Fenix-7X-Pro-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/Garmin-Fenix-7X-Pro-Sapphire-Solar.webp 1x,
                ./img/Garmin-Fenix-7X-Pro-Sapphire-Solar-2x.webp 2x
              "
              media="(max-width: 767px)"
            />


            <img
              src="./img/Garmin-Fenix-7X-Pro-Sapphire-Solar.webp" 
              alt="Garmin Fenix 7X Pro Sapphire Solar" 
              width="208"
            />
          </picture>

          <div class="name-and-price-position">
            <h3>Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p>€500</p> 
          </div>
          
          
        </div>  

        

      </li>

      <li class="catalog-section-list-item">

        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Garmin-Marq-Athlete-desktop.webp 1x,
                ./img/Garmin-Marq-Athlete-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
  
  
            <source
              srcset="
                ./img/Garmin-Marq-Athlete-tablet.webp 1x,
                ./img/Garmin-Marq-Athlete-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
  
            <source
              srcset="
              ./img/Garmin-Marq-Athlete.webp 1x,
              ./img/Garmin-Marq-Athlete-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
    
            <img
              src="./img/Garmin-Marq-Athlete.webp" 
              alt="Garmin-Marq-Athlete" 
              width="208"
            />
  
          </picture>
          <div class="name-and-price-position">
            <h3>Garmin Marq Athlete </h3>
            <p>€450</p> 
          </div>
        </div>
        
      </li>

      <li class="catalog-section-list-item">
        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Garmin-Descent-MK1-desktop.webp 1x,
                ./img/Garmin-Descent-MK1-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
  
  
            <source
              srcset="
                ./img/Garmin-Descent-MK1-tablet.webp 1x,
                ./img/Garmin-Descent-MK1-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
  
  
            <source
              srcset="
                ./img/Garmin-Descent-MK1.webp 1x,
                ./img/Garmin-Descent-MK1-2x.webp 2x
                "
                media="(max-width: 767px)"
            />
  
            <img
              src="./img/Garmin-Descent-MK1.webp" 
              alt="Garmin Descent MK1 1x" 
              width="208"
            />
  
          </picture>
          <div class="name-and-price-position">
            <h3>Garmin Descent MK1 </h3>
            <p>€680</p> 
          </div>
        </div>
        
      </li>


      <li class="catalog-section-list-item">

        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Garmin-D2-Delta-PX-desktop.webp 1x,
                ./img/Garmin-D2-Delta-PX-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
  
  
            <source
              srcset="
                ./img/Garmin-D2 Delta-tablet.webp 1x,
                ./img/Garmin-D2 Delta-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
  
            <source
              srcset="
                ./img/Garmin-D2-Delta.webp 1x,
                ./img/Garmin-D2-Delta2x.webp 2x
              "
              media="(max-width: 767px)"
            />
    
            <img
              src="./img/Garmin-D2-Delta.webp" 
              alt="Garmin D2 Delta" 
              width="208"
            />
  
          </picture>
          <div class="name-and-price-position">
            <h3>Garmin D2 Delta PX</h3>
            <p>€380</p> 
          </div>
        </div>
        

      </li>


      <li class="catalog-section-list-item">
        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Garmin-Fenix-6-Pro-desktop.webp 1x,
                ./img/Garmin-Fenix-6-Pro-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
  
  
            <source
              srcset="
                ./img/Garmin-Fenix-6-Pro-tablet.webp 1x,
                ./img/Garmin-Fenix-6-Pro-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
  
            <source
              srcset="
                ./img/Garmin-Fenix-6-Pro.webp 1x,
                ./img/Garmin-Fenix-6-Pro2x.webp 2x
              "
              media="(max-width: 767px)"
            />
    
            <img
              src="./img/Garmin-Fenix-6-Pro.webp" 
              alt="Garmin Fenix 6 Pro" 
              width="208"
            />
  
          </picture>

          <div class="name-and-price-position">
            <h3>Garmin Fenix 6 Pro Solar</h3>
            <p>€400</p> 
          </div>

        </div>


      </li>


      <li class="catalog-section-list-item">
        <div class="catalog-section-list-item-pic">
          <picture>
            <source
              srcset="
                ./img/Tube-Watch-S42-desktop.webp 1x,
                ./img/Tube-Watch-S42-desktop-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
  
  
            <source
              srcset="
                ./img/Tube-Watch-S42-tablet.webp 1x,
                ./img/Tube-WatchS42-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
  
            <source
              srcset="
                ./img/Tube-Watch-S42.webp 1x,
                ./img/Tube-Watch-S42-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
    
            <img
              src="./img/Tube-Watch-S42.webp" 
              alt="Tube Watch S42" 
              width="208"
            />
  
          </picture>
          <div class="name-and-price-position">
            <h3>Garmin Fenix 7X Pro Sapphire Solar </h3>
            <p>€500</p> 
          </div>
        </div>
      </li>

      

    </ul>
    <button class="catalog-section-button">Show more</button>
  </div>
</section>