<section id="catalog-section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/garmin-fenix-7x-pro-desktop.webp    1x,
              ./img/webp/garmin-fenix-7x-pro-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/garmin-fenix-7x-pro-tablet.webp    1x,
              ./img/webp/garmin-fenix-7x-pro-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/garmin-fenix-7x-pro-sapphire-solar.webp    1x,
              ./img/webp/garmin-fenix-7x-pro-sapphire-solar-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/garmin-fenix-7x-pro-sapphire-solar.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-item-price">€500</p>
      </li>

      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/garmin-marq-athlete-desktop.webp    1x,
              ./img/webp/garmin-marq-athlete-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/garmin-marq-athlete-tablet.webp    1x,
              ./img/webp/garmin-marq-athlete-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/garmin-marq-athlete.webp    1x,
              ./img/webp/garmin-marq-athlete-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/garmin-marq-athlete.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Marq Athlete</h3>
        <p class="catalog-item-price">€450</p>
      </li>

      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/garmin-descent-mk1-desktop.webp    1x,
              ./img/webp/garmin-descent-mk1-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/garmin-descent-mk1-tablet.webp    1x,
              ./img/webp/garmin-descent-mk1-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/garmin-descent-mk1.webp    1x,
              ./img/webp/garmin-descent-mk1-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/garmin-descent-mk1.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Descent MK1</h3>
        <p class="catalog-item-price">€680</p>
      </li>

      <li class="catalog-item">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/garmin-d2-delta-px-desktop.webp    1x,
              ./img/webp/garmin-d2-delta-px-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/garmin-d2-delta-tablet.webp    1x,
              ./img/webp/garmin-d2-delta-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/garmin-d2-delta.webp   1x,
              ./img/webp/garmin-d2-delta2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/garmin-d2-delta.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin D2 Delta PX</h3>
        <p class="catalog-item-price">€380</p>
      </li>

      <li class="catalog-item is-active">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/garmin-fenix-6-pro-desktop.webp    1x,
              ./img/webp/garmin-fenix-6-pro-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/garmin-fenix-6-pro-tablet.webp    1x,
              ./img/webp/garmin-fenix-6-pro-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/garmin-fenix-6-pro.webp   1x,
              ./img/webp/garmin-fenix-6-pro2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/garmin-fenix-6-pro.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-item-price">€400</p>
      </li>

      <li class="catalog-item is-active">
        <picture class="catalog-img">
          <source
            srcset="
              ./img/webp/tube-watch-s42-desktop.webp    1x,
              ./img/webp/tube-watch-s42-desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/webp/tube-watch-s42-tablet.webp   1x,
              ./img/webp/tube-watchs42-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/webp/tube-watch-s42.webp    1x,
              ./img/webp/tube-watch-s42-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/webp/tube-watch-s42.webp"
            alt="watch"
            loading="lazy"
          />
        </picture>
        <h3 class="catalog-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-item-price">€395</p>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
