<footer class="footer-watches" id="footer">
  <section class="footer-watches-container">
    <div class="footer-container inline">
      <div class="footer-logo-soc-cont">
        <a class="footer-logo" href="./index.html">watchcharm</a>
        <ul class="footer-social-list">
          <li class="footer-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="footer-social-link"
              ><svg class="footer-img" width="20" height="20">
                <use href="/img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="footer-social-link"
              ><svg class="footer-img" width="20" height="20">
                <use href="/img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="footer-social-link"
              ><svg class="footer-img" width="20" height="20">
                <use href="/img/icons/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <a class="footer-number" href="tel:+380684439426" target="_blank"
        >+380 (68) 443-94-26</a
      >

      <p class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
    <div class="footer-container">
      <div class="footer-container-location">
        <div class="footer-container-menu">
          <ul class="footer-menu">
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#hero-section">Home</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#about-section">About Us</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#catalog-section">Catalog</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#sale-section">Sale</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#reviews-section">Reviews</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link" href="#contact-section">Contact Us</a>
            </li>
          </ul>
        </div>
        <address class="footer-address">
          <a
            class="footer-locale"
            href="https://maps.app.goo.gl/uihqJDkncziWqrTNA"
            target="_blank"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </address>
      </div>
      <div class="footer-line"></div>

      <div class="footer-container-copyright">
        <p class="footer-copyright-title">
          &copy;2023 The Watch Spot. All rights reserved.
        </p>
        <div class="footer-copyright-link">
          <a class="footer-copyright-item" href="#">Terms of Service</a>
          <a class="footer-copyright-item" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </section>
</footer>
