<header class="container">
  <div class="header">
    <a class="header-logo-ref" href="#">watchcharm</a>
    <button class="header-menu-btn" type="button">
      <svg class="header-logo-menu" width="34" height="34">
        <!-- TODO: прописати шлях до іконки -->
        <use href="./img/icon.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <!-- TODO: додати посилання на розділи -->
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">About Us</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">Catalog</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">Sale</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-list-item-link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!-- TODO: змінити посилання на іконки -->
    <div class="header-social-links">
      <ul class="header-social-icon-list">
        <li class="header-social-icon-list-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="header-social-icon" width="36" height="36">
              <use href="./img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-icon-list-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="header-social-icon" width="36" height="36">
              <use href="./img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-icon-list-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="header-social-icon" width="36" height="36">
              <use href="./img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
