<section class="hero" id="hero-section">
  <div class="container-hero">
    <h1 class="title-hero">
      Welcome to our <span class="title-part">collection</span> of premium
      watches
    </h1>
    <p class="text-hero">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="container-hero-avatar">
      <ul class="list-avatar">
        <li class="list-blok">
          <picture>
            <source
              srcset="
                ../img/hero_img/bc_avatar/bc_without_glasses.jpg,
                ../img/hero_img/bc_avatar/bc_without_glasses@2x.jpg
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/hero_img/tablet_avatar/tablet_without_glasses.jpg,
                ../img/hero_img/tablet_avatar/tablet_without_glasses@2x.jpg
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/hero_img/without_glasses.jpg,
                ../img/hero_img/without_glasses@x2.jpg
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-avatar"
              src="../img/hero_img/without_glasses@x2 (1).jpg"
              alt="Vumen without glasses"
              width="44"
              height="44"
            />
          </picture>
        </li>
        <li class="list-blok">
          <img
            class="hero-avatar"
            src="../img/hero_img/man_with_glasses.jpg"
            alt="Vumen without glasses"
            width="44"
            height="44"
          />
        </li>
        <li class="list-blok">
          <img
            class="hero-avatar"
            src="../img/hero_img/wumen_with_glasses.jpg"
            alt="Vumen without glasses"
            width="44"
            height="44"
          />
        </li>
      </ul>
      <p class="tex-scroll"><u class="line">Scroll down</u></p>
    </div>
    <div class="container-watches-hero">
      <picture>
        <source
          srcset="
            ../img/hero_img/watches_bc_hero.jpg,
            ../img/hero_img/watches_bc_hero@2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/hero_img/watches_tablet_hero.jpg,
            ../img/hero_img/watches_tablet_hero@2x.jpg
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/hero_img/watches_mobil_hero.jpg,
            ../img/hero_img/watches_mobil _hero@2x.jpg
          "
          media="(max-width: 767px)"
        />
        <img
          class="watches-hero"
          src="../img/hero_img/watc    hes_mobil_hero.jpg"
          alt="Watches end hero"
        />
      </picture>
    </div>
  </div>
</section>
