<section class="hero" id="hero-section">
  <div class="container container-hero">
    <div class="container-title">
      <div class="container-text">
        <h1 class="title-hero">
          Welcome to our <span class="title-part">collection</span> of premium
          watches
        </h1>
        <p class="text-hero">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="container-hero-avatar">
        <ul class="list-avatar">
          <li class="list-blok">
            <picture>
              <source
                srcset="
                ./img/bc_without_glasses.jpg x1,
                ./img/bc_without_glasses@2x.jpg 2x
              "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                ./img/tablet_without_glasses.jpg x1,
                ./img/tablet_without_glasses@2x.jpg 2x
              "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/without_glasses.jpg    1x,
                  ./img/without_glasses@2x.jpg 1x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatar"
                src="./img/without_glasses.jpg"
                alt="Without glasses"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="list-blok">
            <picture>
              <source
                srcset="
                ./img/bc_man_with_glasses.jpg x1,
                ./img/bc_man_with_glasses@2x.jpg 2x
              "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet_man_with_glasses.jpg    1x,
                  ./img/tablet_man_with_glasses@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/man_with_glasses.jpg    1x,
                  ./img/man_with_glasses@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatar"
                src="./img/man_with_glasses.jpg"
                alt="Man with glasses"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="list-blok">
            <picture>
              <source
                srcset="
                  ./img/bc_wumen_with_glasses.jpg    1x,
                  ./img/bc_wumen_with_glasses@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tablet_wumen_with_glasses.jpg    1x,
                  ./img/tablet_wumen_with_glasses@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/wumen_with_glasses.jpg    1x,
                  ./img/wumen_with_glasses@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-avatar"
                src="./img/wumen_with_glasses.jpg"
                alt="Wumen without glasses"
                width="44"
                height="44"
              />
            </picture>
          </li>
        </ul>
        <a class="tex-scroll" href="#footer">Scroll down</a>
      </div>
    </div>
    <div class="container-watches-hero">
      <picture>
        <source
          srcset="./img/watches_bc_hero.jpg 1x, ./img/watches_bc_hero@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/watches_tablet_hero.jpg    1x,
            ./img/watches_tablet_hero@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/watches_mobil_hero.jpg    1x,
            ./img/watches_mobil_hero@2x.jpg
          "
          media="(max-width: 767px)"
        />
        <img
          class="watches-hero"
          src="./img/watches_mobil_hero.jpg"
          alt="Watches end hero"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
