<section class="reviews" id="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          src="./img/webp/john_wax.webp"
          srcset="./img/webp/john_wax.webp 1x, ./img/webp/john_wax@2x.webp 2x"
          alt="John Wax"
          loading="lazy"
          class="reviews-list-img"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-title">John Wax</h3>
        <p class="reviews-list-description">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          src="./img/webp/victoria_romashenko.webp"
          srcset="
            ./img/webp/victoria_romashenko.webp    1x,
            ./img/webp/victoria_romashenko@2x.webp 2x
          "
          alt="Victoria Romashenko"
          loading="lazy"
          class="reviews-list-img"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-title">Victoria Romashenko</h3>
        <p class="reviews-list-description">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          src="./img/webp/anastasia_trachuk.webp"
          srcset="
            ./img/webp/anastasia_trachuk.webp    1x,
            ./img/webp/anastasia_trachuk@2x.webp 2x
          "
          alt="Anastasia Trachuk"
          loading="lazy"
          class="reviews-list-img"
          width="56"
          height="56"
        />
        <h3 class="reviews-list-title">Anastasia Trachuk</h3>
        <p class="reviews-list-description">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
