<section class="sale-section" id="sale-section">
  <div class="container">
    <h2 class="sale-header">Sale</h2>
    <div class="sale-container">
      <div class="sale-image-box">
        <ul class="sale-watch-list">
          <li class="sale-watch-list-item">
            <img
              class="sale-watch-list-item-image"
              src="./img/webp/small-watch-first-1x.webp"
              srcset="
                ./img/webp/small-watch-first-1x.webp 1x,
                ./img/webp/small-watch-first-2x.webp 2x
              "
              alt="example"
              loading="lazy"
              width="52"
              height="54"
            />
          </li>
          <li class="sale-watch-list-item">
            <img
              class="sale-watch-list-item-image"
              src="./img/webp/small-watch-second-1x.webp"
              srcset="
                ./img/webp/small-watch-second-1x.webp 1x,
                ./img/webp/small-watch-second-2x.webp 2x
              "
              alt="example"
              loading="lazy"
              width="52"
              height="54"
            />
          </li>
          <li class="sale-watch-list-item">
            <img
              class="sale-watch-list-item-image"
              src="./img/webp/small-watch-third-1x.webp"
              srcset="
                ./img/webp/small-watch-third-1x.webp 1x,
                ./img/webp/small-watch-third-2x.webp 2x
              "
              alt="example"
              loading="lazy"
              width="52"
              height="54"
            />
          </li>
          <li class="sale-watch-list-item">
            <img
              class="sale-watch-list-item-image"
              src="./img/webp/small-watch-fourt-1x.webp"
              srcset="
                ./img/webp/small-watch-fourth-1x.webp 1x,
                ./img/webp/small-watch-fourth-2x.webp 2x
              "
              alt="example"
              loading="lazy"
              width="52"
              height="54"
            />
          </li>
        </ul>
        <div class="sale-main-image-box">
          <img
            class="sale-main-image"
            src="./img/webp/big-watch1x.webp"
            srcset="
              ./img/webp/big-watch1x.webp 1x,
              ./img/webp/big-watch2x.webp 2x
            "
            alt="example"
            loading="lazy"
            width="235"
            height="285"
          />
        </div>
      </div>
      <div class="sale-info-container">
        <h3 class="sale-info-title">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <div class="sale-product-pricing">
          <div class="sale-current-price">€1500</div>
          <div class="sale-original-price">€3000</div>
        </div>
        <p class="sale-info-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-product-label-list">
          <li class="sale-product-label-item">Fused carbon fiber</li>
          <li class="sale-product-label-item">Grade-5 Titanuim</li>
          <li class="sale-product-label-item">Athlete</li>
          <li class="sale-product-label-item">Golfer</li>
          <li class="sale-product-label-item">Commander</li>
          <li class="sale-product-label-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
