.about {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f3f3f3;
}

.about-title {
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 28px;
}
.about-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 40px;
}
.about-btn {
    display: inline-block;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    transition: background-color 0.3s ease; 
   
}
.about-btn:focus,
.about-btn:hover {
    background: #1f3cd4;
   
}


@media screen and (min-width: 768px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}