.about {
    padding-top: 40px;
    padding-bottom: 40px;
}
.about-content {
    background: #f3f3f3;
}
.about-title {
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 28px;
}
.about-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.item {
    margin-bottom: 40px;
}
.about-btn {
    display: inline-block;
    padding: 15px 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    border-radius: 16px;
    color: #fbfbfb;
    width: 160px;
    height: 48px;
    background: #3350e9;
    transition: background-color 0.3s ease; 
    margin-bottom: 40px;
   
}
.about-btn:focus,
.about-btn:hover {
    background: #1f3cd4;
   
}
.about-img {
    border-radius: 30px;
    background: rgba(12, 12, 12, 0.2), url("path_to_image");
}
@media screen and (min-width: 768px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }
.about-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
}
.about-text {
    font-size: 16px;
}
.item {
    margin-bottom: 60px;
}
.about-img {
    border-radius: 50px;
}

}

@media screen and (min-width: 1280px) {
    .about-container {
        display: flex;
    }

    

}