picture{
    display: flex;
    margin: 0 auto;
    width: 208px;
    height: 226px;
}
.catalog-section{
    background-color: blue;
    max-width: 375px;
    margin: 0 auto;
}
.container{
    background-color: red;
    padding: 0 auto;
    margin: 0 auto;
}

.catalog-section-list{
    background-color: yellow;
    padding-bottom: 40px

}

.catalog-section-list-item{
    margin-top: 20px;
    height: 364px;
    background: var(--cards);
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;

    
}

.catalog-section-list-item-pic{
    margin: 42px 28px 0px 28px;
}

.name-and-price-position{
    margin-top: 28px;
}

.catalog-section-button{
    color: white;
    width: 160px;
    height: 48px;
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    background: #404BBF;
    
    
}


/* ---------------------------------------------------------------------MEDIA-------------------------------------------------------------------------
---------------------------------------------------------------------MEDIA-------------------------------------------------------------------------
---------------------------------------------------------------------MEDIA-------------------------------------------------------------------------
---------------------------------------------------------------------MEDIA------------------------------------------------------------------------- */


@media screen and (min-width:768px){

    #catalog-section{
        max-width: 768px;
        background-color: blue;
        margin: 0 auto;
        
    }

    .container{
        max-width: 704px;
        padding: 0;



       
    }
    .catalog-section-list {
        display: flex;
        flex-wrap: wrap; /* Разрешить перенос элементов */
        gap: 16px; /* Расстояние между элементами */
        justify-content: space-between; /* Равномерное распределение */
    }

    .catalog-section-list-item {
        flex: 0 0 344px; /* Фиксированная ширина */
        height: 414px; /* Фиксированная высота */
        margin: 0; /* Убираем отступы, если есть */
        box-sizing: border-box; /* Учитываем границы и отступы в размерах */
    }



}