.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-logo-ref {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.header-logo-menu {
    stroke: #0c0c0c;
}
.header-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.header-nav {
    display: none;
}
.header-social-links {
    display: none;
}
@media screen and (min-width: 768px) {

    .header-logo-ref {
        font-size: 20px;
    }
    .header{
        padding-top: 26px;
        padding-bottom: 26px;
    }

}
@media screen and (min-width: 1280px){
    .header-menu-btn {
            display: none;
        }
     .header-nav {
                    display: block;
                }
        .header-social-links {
            display: block;
        }
    
        .header-nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }
    
        .header-social-icon-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    
        .header-social-icon {
            border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            width: 36px;
            height: 36px;
            padding: 8px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header-nav-list-item {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            text-align: center;
            
        }
    
        .header-social-icon:hover {
            border: 1px solid rgba(51, 80, 233, 0.1);
            fill: #3350e9;
        }
    
        .header-nav-list .header-nav-list-item:first-child .header-nav-list-item-link {
            position: relative;
        }
    
        .header-nav-list .header-nav-list-item:first-child .header-nav-list-item-link::after {
            content: " ";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 8px;
            height: 8px;
            background-color: #3350e9;
            border-radius: 50%;
        }
    
        .header-nav-list-item-link {
            padding: 15px 0;
        }
}